.bg{
  box-shadow: 0px 0px 3px #008ae6;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.85;

  background: #669999;
}

body
{
	background: url(../images/g95.jpg) no-repeat center center fixed;
	background-size: cover;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
}

.dropdown
{
	margin-right: 1em;
}

/*.title
{
	color: #ffa31a !important;
	font-size: 50px !important;
	font-weight: bold !important;
	padding-right: 1em;
	-webkit-text-stroke: 1px black;
}*/

#g-logo
{
  height: 100px;
  width: 100px;
  margin-right: 10px;
  margin-left: 0px;
}

.title
{
	text-shadow: 0 1px 0 #ffd9b3,
               0 2px 0 #ffd9b3,
               0 3px 0 #ffd9b3,
               0 4px 0 #ffd9b3,
               0 5px 0 #ffd9b3,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

    color: #ffa64d!important;
    font-weight: bold !important;
    padding-right: 1em;
    padding-left: 30px;
}

.btn
{
	background: url(../images/play2.png);
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  width: 2.6em;
  height: 2.6em;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.btn:hover
{
  opacity: 0.9;
}

.btn2
{
  background: url(../images/pause.png);
  background-position: center;
  background-size: cover;
  border: 2px solid black;
  width: 2.6em;
  height: 2.6em;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}


.btn22
{
  display: none;
}

#myCanvas
{
	background: rgba(255, 255, 255, 0.7);
	border: 6px solid #000033;
	margin: 0;
	position: absolute;
	left: 0px;
	right: 0;
	top: 0px;
	bottom: 0;
  //display: none;
}

#myCanvas2
{
	background: rgba(0, 0, 0, 0);
	//border: 2px solid rgba(0, 0, 0, 1);
  margin: 0;
  position: absolute;
  left: 0px;
  right: 0;
  top: 0px;
  bottom: 0;
}

#next
{
	background:	rgb(255, 0, 0) url(../images/play.png);
	background-size: 4em 4em;
	background-position: center;
	width: 4em;
	height: 4em;
	border-radius: 2em;
	margin-left: auto;
	margin-right: auto;
}

.my-col
{
  //border: 5px solid black;
	height: 400px;
  margin-bottom: -25px;
}

.my-col-button
{
	//border: 5px solid black;
  margin-bottom: 5px;
	height: auto;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .title {
    font-size: 40px !important;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
   
	.title
   {
    font-size: 25px !important;
  }

  #g-logo
  {
    height: 80px;
    width: 80px;
    margin-right: 4px;
    margin-left: 0px;
  }

  body
  {
    background: url(../images/g2.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  display: inline;
  border: 1px solid black;
}

.slider2 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  display: none;
  border: 1px solid black;
}

.slider12
{
  display: none;
}
.slider22
{
  display: inline;
}

#frameByFrame
{
	margin-left: auto;
  margin-right: auto;
}

#changeNumber
{
	margin-left: 10px;
}

.buttons
{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 45px;
}

.test
{
  height : 100px;
  border: 1px solid black;
}

.my-row
{
  min-height: 100px;
}

.label1
{
    color: black;
    font-weight: bold;
}

.index
{
  display: none;
}

.index2
{
  display: inline;
}

footer div
{
  background: #333333;
  color: white;

  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.icons
{
  margin-right: 20px;
  font-size: 30px;
  color: #4da6ff;
}